@import "styles/utils/index";

.base {
  display: flex;

  @include media($min-sm) {
    @include grid(2, 8px);
    > * {
      margin-bottom: 16px;
    }
  }

  @include media($max-sm) {
    flex-direction: column;
    gap: 24px;
  }
}
